*.swp
*.swo
*~

.bundle
target/.default
release_note.txt
pkg
lbin
.bin
list/referenced.list
tags
.ref
.ws
.lsf
.db
log
output
web
coverage
.ref
.yardoc
.collection
.bin
.session
.SYNC
.pdm/pi_attributes.txt
