# GEM SETUP

# If your company has an internal gem server enter it here
#gem_server: http://gems.company.net:9292
# When true Origen will configure and run Bundler in a consistent way for every
# user (recommended)
gem_manage_bundler: true
# Where user's local gems will be installed if gem_manage_bundler is set to true.
gem_install_dir: ~/.origen/gems
# Some gems can be difficult to install reliably across individual user environments.
# Such gems can be installed to a communal system Ruby and then listed here, Origen
# will then use the system version of the given gem instead of trying to install
# it fresh for each user.
# Note that this option will only be applied if gem_manage_bundler is set to true.
gem_use_from_system:
  - [nokogiri, 1.6.4.1]
# Additionally any build switches/options that are required to build specific gems
# in your user environment can be defined here.
#gem_build_switches:
#  - nokogiri --use-system-libraries=true --with-xml2-include=/path/to/libxml2  
#  - other_gem --some_build_switch

# USERS AND LDAP

# Adding an email domain will allow email addresses for users to be automatically
# generated from their ID e.g.
#
#   # With email_domain specified
#   User.new("ax1234").email  # => "ax1234@company.com"  
#
#   # Without email_domain specified
#   User.new("ax1234@company.com").email  # => "ax1234@company.com"  
#email_domain: company.com
#email_server: smtp.company.net
#email_port: 25

# Required parameters to connect to your company's LDAP system
#ldap_username: cn=manager,dc=example,dc=com
#ldap_password: opensesame
#ldap_host: ids.company.net
#ldap_port: 636
#ldap_base_dn: ou=people,ou=intranet,dc=com
# Optional to override the name given to the user ID attribute on the LDAP system ('id' by default)
#ldap_user_id_attribute: uid

# LSF  
