---
title: <%= options[:title] || Origen.app.namespace %>
analytics: UA-64455560-1
---
<%= render "templates/web/partials/navbar.html", tab: options[:tab] %>

<div class="row">
%# The markdown attribute is important if you are going to include content written
%# in markdown, without this is will be included verbatim
  <div class="span12" markdown="1">
<%= yield %>    

<%= disqus_comments %>

</div>
</div>
