% render "layouts/landing", tab: :tour do
  <div class="main-content">
    <div class="col-centered text-center" style="margin-top: 150px;">
      <p style="font-size: 30px; margin-top: 15px; color: #fff;">Coming Soon</p>
    </div>
    <div class="col-centered text-center" style="margin-top: 50px; margin-bottom: 200px;">
      <p style="color: #fff;">The tour has not been written yet, in the meantime please checkout our
        <a href="http://origen-sdk.org/guides" %>">Guides</a> and our 
        <a href="http://origen-sdk.org/videos" %>">Videos</a>.
      </p>
    </div>
  </div>
% end  
