% render "layouts/landing" do
  <div class="main-content">
    <div class="col-centered text-center" style="margin-top: 150px;">
      <p style="font-size: 30px; margin-top: 15px; color: #fff;">Not Found</p>
    </div>
    <div class="col-centered text-center" style="margin-top: 50px; margin-bottom: 200px;">
      <p style="color: #fff;">The page that you were looking for was not found, if you are looking for documentation
      please try the <a href="https://origen-sdk.org/guides">Guides</a> section of the site.</p>

      <p style="color: #fff;">If you think that this is a bug and that something really should be here, please
      <a href="https://github.com/Origen-SDK/Origen-SDK.github.io/issues">file a ticket</a>. Thanks!</p>
    </div>
  </div>
% end  
