% render "layouts/basic.html" do

# The Origen Community

By choosing Origen, you are joining a growing community of semiconductor engineering
professionals who are available to provide support and guidance on using the Origen platform.

The following community resources are available:

<h3><a href="https://gitter.im/Origen-SDK/users">Chatroom</a></h3>

Many of the Origen core team members will be hanging out [in the chatroom](https://gitter.im/Origen-SDK/users)
during the day.
Come and say hello or ask for help whenever you need real-time feedback.
Though we can't promise to always be able to solve your problems straight away,
you should find us approachable and eager to help newcomers.

<h3><a href="https://www.reddit.com/r/OrigenSDK">Discussion Forum</a></h3>

An [Origen forum](https://www.reddit.com/r/OrigenSDK) has been setup for questions
that require a less immediate answer, or which require more in depth discussion than
would be available via the chat room.
Again, come and say hello and use this for direct questions, or for any general discussion
about the Origen platform.

Generally it is preferable to use the forum for questions whenever possible, as it will start to build
up a linkable library of problems and solutions for the community to refer to in the future.

<h3><a href="https://www.youtube.com/channel/UCoLWR0eiIiXZNKYd3DgRNfg">Video Channel</a></h3>

A [Youtube video channel](https://www.youtube.com/channel/UCoLWR0eiIiXZNKYd3DgRNfg) has been
setup to host short tutorial videos to supplement the documentation.

Anyone is welcome to submit videos of their experiences with Origen.

<h3><a href="https://github.com/Origen-SDK">Bugs</a></h3>

If you find bugs, please tell us about them!

Open an [issue on Github](https://github.com/Origen-SDK) against Origen core or the offending plugin. 

### Documentation Comments

Most of the Origen guides have a comment section like the one below, feel free to use
this to ask questions or to make comments about a specific guide.

% end  
