% render "layouts/landing" do
  <div class="main-content">
    <div class="col-centered text-center" style="margin-top: 150px;">
      <img src="http://origen-sdk.org/img/origen-device-shadowed.png" class="hidden-xs" height="95" width="95" style="width: 95px; height: 95px; margin-top: -45px; margin-right: 10px;">
      <img src="http://origen-sdk.org/img/origen-text-shadowed.png" height="75" style="width: 377px; height: 75px; margin-top: -45px;">
      <p style="font-size: 30px; margin-top: 15px; color: #fff;">The Semiconductor Developer's Kit</p>
    </div>
    <div class="col-centered text-center" style="margin-top: 50px; margin-bottom: 200px;">
      <p>
        <a class="btn btn-primary btn-lg" href="<%= path "guides/starting/installing" %>">Get started</a>
      </p>
      <div id="subscribe" style="margin-top: 55px;">
        <p class="text-primary" style="display:none;">Thanks, we'll keep you posted.</p>
        <p class="text-danger" style="display:none;">email, is required.</p>
        <form>
          <div class="form-group">
            <div class="input-group" style="width: 400px; margin: auto;">
              <input type="email" class="form-control" placeholder="Enter your email address">
              <span class="input-group-btn">
                <button class="btn btn-primary ready" type="submit" style="width: 165px;">Subscribe to updates!</button>
              </span>
            </div>
          </div>
        <form>
      </div>
    </div>

  </div>
  <div class="col-centered text-center footer hidden-xs">
    <p style="color: #fff;">
      Origen is an <a href="https://github.com/Origen-SDK">open source</a> framework for creating semiconductor engineering software applications, sponsored by:
    </p>
    <div class="sponsors">
      <a href="http://www.freescale.com"><img width="250" src="http://origen-sdk.org/img/freescale-logo-white.png"></a>
  </div>
% end  
