% render "layouts/landing" do
  <div class="main-content">
    <div class="col-centered text-center" style="margin-top: 200px;">
      <img src="http://origen-sdk.org/img/origen-device.png" height="85" width="85" style="margin-top: -45px; margin-right: 10px;">
      <img src="http://origen-sdk.org/img/origen-text.png" height="65" style="margin-top: -45px;">
      <p style="font-size: 30px; margin-top: 15px; color: #fff;">The Semiconductor Developer's Kit</p>
    </div>
    <div class="col-centered text-center" style="margin-top: 50px; margin-bottom: 200px;">
      <p>
        <a class="btn btn-primary btn-lg" href="<%= path "tour/basics" %>">Learn more</a>
      </p>
    </div>
  </div>
  <div class="col-centered text-center footer hidden-xs">
    <p style="color: #fff;">
      Origen is an <a href="https://github.com/Origen-SDK">open source</a> framework for creating semiconductor engineering software applications, sponsored by:
    </p>
    <div class="sponsors">
      <a href="http://www.freescale.com"><img width="250" src="http://origen-sdk.org/img/freescale-logo-white.png"></a>
  </div>
% end  
