% render "layouts/guides.html" do

Origen can be installed on Linux or Windows, this guide refers to the Windows installation.

<div class="alert alert-info" role="alert"> <strong>@powershell commands</strong>
  <br> All @powershell commands should be run from a commandshell other than powershell.
</div>

If you want to run on Linux then please see this guide instead:
[How to Install Origen on Linux](<%= path "guides/installation/installing" %>)

<div class="alert alert-info" role="alert"> <strong>Last updated on 11th January 2021</strong>
  <br>The vast majority of Origen use in production is on Linux, and over time this Windows guide can
  become out of date and no one realizes.
  If you do experience any issues when following this guide, then please do let us
  know <a href="<%= path "guides/installation/installwin" %>/#Comments">via the comments below</a> and we will update it as required.
</div>


### 1. (Optional) Install a Better Console

Download Console [by following this link](https://sourceforge.net/projects/console/files/latest/download?source=typ_redirect).

Move the .zip file to <code>C:/Program Files</code>, then right click it and select <code>Extract All...</code>.

Open the unzipped folder and right click on <code>Console.exe</code> and select <code>Send to > Desktop (create shortcut)</code>.

Open the console from your desktop and execute the following command, we recommend that you create all of
your Origen application workspaces in <code>C:\origen</code>:

~~~text
mkdir C:\origen
~~~

Select <code>Edit > Settings</code> from the console menu and enable the checkbox at the bottom
of the settings called <code>Save settings to user directory</code>.

Execute the following command to get a sensible set settings to start off with:

~~~text
@powershell New-Item -ItemType directory -Force -Path %appdata%\Console; (new-object System.Net.WebClient).DownloadFile('https://origen-sdk.org/files/console.xml','%appdata%\Console\console.xml')
~~~

### 2. Install Pre-Requisites

Install unxutils by going to this link [https://sourceforge.net/projects/unxutils/](https://sourceforge.net/projects/unxutils/).

Install git from the official Git website [https://git-scm.com/downloads](https://git-scm.com/downloads)

### 3. Install Ruby

#### 3.1 Install the Ruby Executable

We are currently recommending installing Ruby version 2.6.

Follow the instructions at [https://www.ruby-lang.org/en/](https://www.ruby-lang.org/en/) to install Ruby with the devkit.

### 4. Install Origen

Finally, run this command to install Origen:

~~~text
gem install origen --no-document
~~~

This can take several minutes to finish without updating the screen, so please be patient.

You can then verify Origen availability by running <code>origen -v</code>
at which point you should see something like this:

~~~text
    Origen: <%= Origen.version %>
~~~

#### 4.1 Update PATH variable

This step is required to ensure that Origen boots correctly inside of a workspace. Add <code>.\lbin</code> as the first entry in your <code>PATH</code> variable by following this 3rd party tutorial on [How to Create an Environment Variable in Windows](https://kb.wisc.edu/cae/page.php?id=24500).
 The **SYSTEM VARIABLES** PATH entry will need to be udpated.
 
You can check that the path was updated correctly by opening a new powershell console (after the variable update) and typing:

~~~text
$env:path
~~~

<code>.\lbin</code> should appear as the first entry in your path. If it is not, be sure that you added it to the system variables (not user variables) PATH entry.

#### 4.2 Install a newer bundler version

This step is not required. But, you may quickly encounter a scenario where a newer bundler version is required. In this case before Origen boots it will display a message with instructions for what is needed.

Run this command to install a newer version of bundler:

~~~text
gem install bundler -v 2.1.4
~~~

Congratulations, Origen is now installed!

Some users have reported an error at this point which complains about the <code>HOME</code>
environment variable not being set.

If you see that, set it to something like this by
following this 3rd party tutorial on [How to Create an Environment Variable in Windows](https://kb.wisc.edu/cae/page.php?id=24500):

~~~text
HOME = C:\Users\my_user_id
~~~



Note that the version of Origen that is installed to your Ruby installation does not need to
be kept up to date with the latest version of Origen. You can now consider your Ruby environment
to be frozen for the foreseeable future.

See the section on [Understanding Gems](<%= path "guides/installation/gems" %>) for details on
why that is.

% end
